/* 
#newRhombus{
  position: absolute;
  width: 800px;
  height: 500px;
  top: 20px;
  left: 100px;
  background-color: pink;
  offset: left 200px;
} */

@font-face {
  font-family: myFirstFont;
  src: url(LouizeTrial-Italic.otf);
}

#tri{

position: absolute;
top: 200px;
left: 120px;
transform: rotate(-10deg);
width: 1000px;
height: 800px;
background:transparent;
border: solid black;
border-right: solid black;

stroke-width: 3;
clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);

}

#tri:hover{
  background: black;
}

#tri.clicked {
  animation: rotate 0.2s;
  animation-iteration-count: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@keyframes  rotate {
  0% {clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);} 
  100% {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}

}




#triangle {
  transition: points 0.5s ease;
  z-index: auto; 
}

#rhombus {
  z-index: auto;
}

.shape {
fill:transparent; 
stroke:black; 
stroke-width: 5;
transition: all 0.2s ease; 

}

.shape:hover{
  fill: black;
}

#recCircle{
  display: none;
}

#triangle, #rhombus, #circle {
  transition: all 0.2s ease; 
}

.external_links a {
  color: #c6e906;
}

#anther_kiley {
  font-size: 70px;
font-family: "angie-sans", sans-serif;
font-weight: 400;
font-style: normal;
line-height: 40px;
  z-index: 1;
  display: none;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 200px;
  left: 150px;
  width: 1200px;
  transform: rotate(-4deg);
}

#e_roon_kang{
  font-size: 70px;
font-family: "angie-sans", sans-serif;
font-weight: 400;
font-style: normal;
line-height: 40px;
  z-index: 1;
  display: none;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 150px;
  left: 150px;
  width: 900px;
  transform: rotate(-10deg);

}

#takahashi_kuan {
  font-size: 70px;
font-family: "angie-sans", sans-serif;
font-weight: 400;
font-style: normal;
line-height: 40px;
  z-index: 1;
  display: none;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 550px;
  width: 900px;
}


button {
  background-color: black;
  border: none;
  color:#c6e906;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

#exitAnther{
  position: relative;
  top: 10px;
  left: 1190px;
}

#exitEmi{
  position: relative;
  top: 50px;
  left: 890px;
}

#exitERoon{
  position: relative;
  top: 60px;
  left: 900px;
}

body {
  background-color: #a99fb5;
}

#titles {
  
  z-index: 1; 
  color: #c6e906; 
  pointer-events:none;

}


#triangle-up {
  z-index: auto;
  position: absolute;
  top: 220px;
  left: 150px;
  width: 0;
  height: 0;
  border-top: 600px solid black;
      border-right: 600px solid transparent;
  transform: rotate(-100deg);
}

.circle2{
  position: absolute;
    border: 5px solid black;
    background-color: transparent;
    width: 600px;
    height: 600px;
    top: 200px;
    left: 700px;
    border-radius: 500px;
    transform: rotate(-4deg);

}

.circle2:hover{
   background-color: black;
}
h1 {
  position: absolute;
  top: 100px; 
  left: 20px; 
  font-family: "termina", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

h2 {
  line-height: 80px;
  position: absolute;
  top: 380px; 
  left: 1310px; 
  font-size: 50px;
  font-family: myFirstFont;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}


#container {
    
  margin: auto;
  text-align: center;
}

#pointyGuy.clicked {
  fill: black;
}