@media (max-width: 800px) {
  
  #sebastian_aubin{
    width: 350px;
    left: 70px;
    top: 10px;
    height: 290px;
  }
  
  #exitSeb{
    position: fixed;
    left: 95%;
    
  }
  
  #rhombusNew{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 10px;
    border: 5%;
    left: 50px;
    background: transparent;
    border: solid black;
    transform: skew(-.4rad);
  }
  #rhombusNew:hover{
    background-color: black;
  }
  
  
  
  .tri-line{
    transform: rotate(35deg);
    position: absolute;
    top: 611px;
    left: -11px;
    height: 2px;
    width: 430px; 
    background: black;
    offset: 20px;
  }
  
  #tri{
  position: absolute;
  top: 460px;
  left: 50px;
  transform: rotate(-10deg);
  width: 300px;
  height: 300px;
  border: solid black;
  border-right: solid black;
  
  stroke-width: 3;
  clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);
  
  }
  
  
  #tri:hover{
    background: black;
  }
  
  #tri.clicked {
    animation: rotate 0.2s;
    animation-iteration-count: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  
  @keyframes  rotate {
    0% {clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);} 
    100% {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
  
  }
  
  
  .shape {
  stroke:black; 
  stroke-width: .2em;
  transition: all 0.2s ; 
  
  }
  
  .shape:hover{
    fill: black;
  }
  
  
  .external_links a {
    color: #c6e906;
  }
  
  .event{
    overflow: auto;
    max-width: 95%;
    display: none;
    font-size: 1em;
    font-family: LouizeTrial-Regular;
    font-weight: 100;
    font-style: normal;
    line-height: 1.8em;
    color: white;
    position: absolute;
    z-index: 2;
  }
  
  #anther_kiley {
    left: 30px;
    height: 250px;
    top: 250px;
    width: 350px;
  }
  
  #e_roon_kang{
    left: 70px;
    height: 250px;
    top: 490px;
    width: 380px;
  
  }
  
  #takahashi_kuan {
    top: 820px;
    left: 40px;
    width: 340px;
    height: 260px;
    overflow: auto;
  
  }
  
  
  button {
    background-color: transparent;
    border: none;
    color:#c6e906;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }
  
  #exitAnther{
    position: fixed;
    left: 380px;
    top: 220px;
  }
  
  #exitEmi{
    position: fixed;
    top: 810px;
    left: 360px;
  }
  
  #exitERoon{
    position: fixed;
    top: 460px;
    left: 417px;
  }
  
  body {
    background-color: #a99fb5;
  }
  
  .titles {
    display: none;
  }
  
  h1 {
    color: #c6e906;
    line-height: 2em;
    font-family: "manop-variable", sans-serif;
    font-weight: 500;
    z-index: -5;
    position: absolute; 
    letter-spacing: 6px;
    font-style: normal;
    font-size: 90px;
  }

  h2 {
    color: hotpink;
    z-index: -5;
    line-height: 1em;
    position: absolute;
    top: 350px; 
    left: 60%; 
    font-size: 50px;
    font-family: LouizeTrial-Regular;
    font-weight: lighter;
    font-style: normal;
  }
  
  

  #circle:hover{
    background-color: black;
  }
  #circle{
    left: 10px;
    position: absolute;
      border: 2.5px solid black;
      width: 300px;
      height: 300px;
      top: 220px;
      border-radius: 500px;
  
  
  }
 
  
  #container {
  
    margin: auto;
    text-align: center;
  }
  
  
  #diamond {
    height: 310px;
    width: 300px;
    border: solid black 4px;
    position: absolute;
    left: 10px;
    top: 790px;
    transform: scale(60%) skewY(40deg) rotate(0deg);
  }
}




  

body { 
  zoom: 90%; 
  -moz-transform: scale(0.9); 
  -moz-transform-origin: 0 0; 
  -o-transform: scale(0.9); 
  -o-transform-origin: 0 0; 
  -webkit-transform: scale(0.9); 
  -webkit-transform-origin: 0 0; 
} 



@font-face {
  font-family: LouizeTrial-Regular ;
  src: url('fonts/LouizeTrial-Regular.otf');
}
















@media (min-width: 800px) {

  #mobile-titles{
    display: none;
  }


#sebastian_aubin{
  width: 690px;
  left: 230px;
  top: 5%;
}

#exitSeb{
  top: 30px;
  position: absolute;
  left: 90%;
  
}

#rhombusNew{
  left: 200px;
  position: absolute;
  width: 600px;
  height: 500px;
  top: 20px;
  background: transparent;
  border: solid black;
  transform: skew(-.4rad);
}
#rhombusNew:hover{
  background-color: black;
}



.tri-line{
  transform: rotate(35deg);
  position: absolute;
  top: 472px;
  left: 205px;
  height: 2px;
  width: 998px; 
  background: black;
  offset: 20px;
}

#tri{
  position: absolute;
top: 120px;
left: 350px;
transform: rotate(-10deg);
width: 700px;
height: 700px;
border: solid black;
border-right: solid black;

stroke-width: 3;
clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);

}


#tri:hover{
  background: black;
}

#tri.clicked {
  animation: rotate 0.2s;
  animation-iteration-count: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@keyframes  rotate {
  0% {clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);} 
  100% {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}

}


.shape {
stroke:black; 
stroke-width: .2em;
transition: all 0.2s ; 

}

.shape:hover{
  fill: black;
}


.external_links a {
  color: #c6e906;
}

.event{
  display: none;
  font-size: 70px;
  font-family: LouizeTrial-Regular;
  font-weight: 100;
  font-style: normal;
  line-height: 40px;
  color: white;
  font-size: 30px;
  position: absolute;
  z-index: 2;
}

#anther_kiley {
  top: 70px;
  left: 41.5%;
  width: 750px;
  transform: rotate(-4deg);
}

#e_roon_kang{
  top: 120px;
  left: 390px;
  width: 700px;
  transform: rotate(-10deg);

}

#takahashi_kuan {
  top: 40px;
  left: 59%;
  width: 570px;

}


button {
  background-color: black;
  border: none;
  color:#c6e906;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

#exitAnther{
  position: absolute;
  top: 3%;
  left: 90%;
}

#exitEmi{
  position: absolute;
  top: 3%;
  left: 90%;
}

#exitERoon{
  position: absolute;
  top: 3%;
  left: 95%;
}

body {
  background-color: #a99fb5;
}

.titles {
  z-index: -5;
  color: #c6e906; 
  pointer-events:none;
}

h1 {
  font-family: "manop-variable", sans-serif;
  font-variation-settings: "wdth" 50 140 , "wght" 500;
  transition: font-variation-settings 0.3s ease;
  z-index: -5;
  position: absolute; 
  letter-spacing: 6px;
  font-style: normal;
  font-size: 150px;
}

        #Research{ 
          top: -50px;
          left: 10%;
        }
        #Methods{
          top: 70px;
          left: 20%;
        }
        #of{
          top: 250px;
          left: 12%;
        }
        #Graphic{
          top: 370px;
          left: 25%;
        }
        #Design{
          top: 500px;
          left: 40%;
        }

#circle:hover{
  background-color: black;
}
#circle{
  position: absolute;
    border: 2.5px solid black;
    width: 600px;
    height: 600px;
    top: 70px;
    left: 40%;
    border-radius: 500px;
    transform: rotate(-4deg);
    margin-bottom: 1%;


}



p {
  font-size: 20px;
}


h2 {
  z-index: -5;
  line-height: 80px;
  position: absolute;
  top: 27%; 
  left: 65%; 
  font-size: 50px;
  font-family: LouizeTrial-Regular;
  font-weight: lighter;
  font-style: normal;
  font-size: 60px;
}


#container {

  margin: auto;
  text-align: center;
}


#diamond {
  height: 900px;
  width: 700px;
  border: solid black 4px;
  position: absolute;
  left: 55%;
  top: 0%;
  transform: scale(60%) skewY(40deg) rotate(0deg);
}
}